.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header-body{
  background: #282f38;
}
.header-body>h1{
  color: white;
}
.header-body>h3{
  color: #17e700;
}

.card{
  padding: 0;
  border-radius: 50px;
  border:transparent;
}
img{

  border-top-left-radius:50px ;
  border-top-right-radius: 50px;
}
.card-body{
  background-color: goldenrod;
  border-bottom-left-radius:50px ;
  border-bottom-right-radius: 50px;
}
body{
background: rgb(67, 79, 88)
}
